/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background: lavender;
    color: #333;
    line-height: 1.6;
    text-align: center;
}

/* Header */
header {
    background: #2e8b57;
    color: white;
    padding: 20px;
}

/* Navigation */
nav {
    background: #1f5f3f;
    padding: 12px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}

/* Container */
.container {
    background: lavender;
    color: black;
    width: 90%;
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
}

/* Forms */
input,
select,
textarea {
    background-color: white;
    color: black;
    width: 30%;
    padding: 8px;
    margin: 5px 0;
}

/* Buttons */
button,
.btn {
    background: #2e8b57;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

button:hover,
.btn:hover {
    background: #246b45;
    color: darkkhaki;
}

/* Footer */
footer {
    background: #1f5f3f;
    color: white;
    padding: 15px;
    margin-top: 20px;
}

/* Cards */
.card {
    background:lightgoldenrodyellow;
    color: black;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 5px rgba(0,0,0,0.1);
}

.card h2 {
    color: #2e8b57;
    font-size: 30px;
}

/* Social Icons */
.social-icons {
    margin-top: 10px;
}

.social-icons a {
    text-decoration: none;
    margin: 0 10px;
    font-size: 28px;
    color: white;
}

.social-icons a:hover {
    opacity: 0.8;
    font-size: 32px;
}